{% extends 'base.html.twig' %}

{% block body %}
    <hr>
    <div class="d-flex justify-content-center">
        <footer> Réalisée par : Frédérick Perazzelli-Delorme, Jean-Nyckolas Roy William Goupil, Manuel Turcotte, Oliver Leclerc st-amand. </footer>
    </div>
{% endblock %}